@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand;
}

body {
  margin: 0 auto;
  max-width: 1200px;
}

:root {
  --background: #7400b8;
  --font-colour: #80ffdb;
  --hero-colour: #6930c3;
  --btn-background: #5e60ce;
}
