.fyi-section {
  border-bottom: 2px solid black;
}

.fyi-list {
  list-style-type: disc;
  list-style-position: inside;
}

.fyi-container {
  margin: 0 auto;
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
}

.fyi-h2 {
  margin: 20px 0;
}

.fyi-subheading {
  margin-bottom: 20px;
}

.fyi-list-item {
  padding-left: 15px;
  margin-bottom: 10px;
}
