.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-slider-container {
  width: 80%;
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
}

#slider {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

#slider::-webkit-scrollbar {
  display: none;
}

/* .slider-icon; */

.slider-icon {
  border-radius: 100%;
  position: absolute;
  opacity: 0.5;
  box-shadow: 2px 2px 2px 2px rgd(0 0 0 / 12%);
  cursor: pointer;
}

.slider-icon:hover {
  opacity: 1;
}

.slider-icon.left {
  left: 0;
}

.slider-icon.right {
  right: 0;
}

.slider-card {
  width: 90%;
  height: 260px;
  border-radius: 10px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0px 0px 5px rgb(61, 58, 58);
  border: 2px solid #5e60ce;
}

/* CARD CONTENT CSS */

.card-content {
  color: white;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  padding: 8rem 0 0;
}

.card-title {
  position: relative;
  width: max-content;
  outline: 1px solid red;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: var(--background);
}

.card-text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1.5em;
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 0.3) 50%,
    hsl(0 0% 0% / 1)
  );
}

@media only screen and (min-width: 768px) {
  .slider-card {
    width: 40%;
  }
}
